
#test{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;   
    margin-left:-3px;
    font-size: 50px; 
    font-weight: 700;   
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color:darkblue;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 200px;
    width: 200px;
      
}
#btn_group button{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: darkblue;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 450px;
    width: 450px;
}
#btn_group button:hover{
    color: white;
    background-color: skyblue;
    
}


